@use "../base/variables" as *;

.banner {
  width: 100%;
  height: auto;
  max-height: 400px; /* Максимальна висота банера */
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto; /* Адаптивне зображення */
  object-fit: cover; /* Збереження пропорцій зображення */
}